<h1>Shop</h1>
<ng-container *ngIf="vm$ | async as vm">
  <div *ngIf="vm.loading" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="products-grid m-auto g-3">
    <app-product-card
      class="col"
      *ngFor="let product of vm.products"
      [product]="product"
      [loading]="vm.productLoading === product.id"
      (addToCart)="onAddToCart($event)"
    ></app-product-card>
  </div>

  <app-message-modal
    [modalMessage]="vm.message"
    (close)="messageService.notify(null)"
  ></app-message-modal>
</ng-container>
