<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">ShopIT STEP</a>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav">
        <a
          class="nav-link"
          aria-current="page"
          routerLink="/shop"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Shop</a
        >
        <a
          class="nav-link"
          aria-current="page"
          routerLink="/shop/recommended"
          routerLinkActive="active"
          >For You</a
        >
        <a
          class="nav-link"
          aria-current="page"
          routerLink="/cart"
          routerLinkActive="active"
          >Cart</a
        >

        <a
          class="nav-link"
          aria-current="page"
          routerLink="/sign-in"
          routerLinkActive="active"
          >Sign In</a
        >

        <a
          class="nav-link"
          aria-current="page"
          routerLink="/register"
          routerLinkActive="active"
          >Register</a
        >
      </div>
    </div>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="text"
        name="search"
        placeholder="Search"
        aria-label="Search"
        [(ngModel)]="searchText"
      />
      <button
        class="btn btn-outline-success"
        type="submit"
        (click)="search.emit(searchText)"
      >
        Search
      </button>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
          [checked]="isDark"
          (click)="this.toggleDark.emit(!isDark)"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Dark</label
        >
      </div>
    </form>
  </div>
</nav>
