<div
  class="card border-4"
  [appCardHighlight]="
    product.discountPercentage > 0 ? 'border-warning' : 'border-danger'
  "
  [ngClass]="{ 'border-info': product.discountPercentage > 0 }"
>
  <img [src]="product.thumbnail" class="card-img-top" [alt]="product.title" />
  <div class="card-body">
    <h5 class="card-title">{{ product.title | uppercase }}</h5>
    <p class="card-text">
      {{ product.description }}
    </p>
    <p
      class="text-decoration-line-through"
      *ngIf="product.discountPercentage > 0"
    >
      {{
        (product.price * (100 + product.discountPercentage)) / 100
          | currency : "EUR"
      }}
    </p>
    <p>{{ product.price | currency : "EUR" }}</p>
    <button class="btn btn-primary">Add To Cart</button>
    <button
      class="btn btn-danger ms-2"
      (click)="deleteProduct.emit(product.id)"
    >
      Delete
    </button>
  </div>
</div>
