<div class="container" style="max-width: 500px">
  <button class="btn btn-danger" (click)="onUpdateName()">Change</button>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name" class="col-form-label">Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        formControlName="name"
      />
      <div class="validation-error" *ngIf="controls.name.errors?.['badName']">
        {{ controls.name.errors?.['badName'] }}
      </div>
      <div
        class="validation-error"
        *ngIf="controls.name.errors?.['required'] && controls.name.dirty"
      >
        This field is required!
      </div>
      <div class="validation-error" *ngIf="controls.name.errors?.['maxlength']">
        The name is too long.
      </div>
      <div class="validation-error" *ngIf="controls.name.errors?.['minlength']">
        The name is too short.
      </div>
    </div>
    <div>
      <label for="email" class="col-form-label">Email</label>
      <input
        type="email"
        id="email"
        class="form-control"
        formControlName="email"
      />
      <div
        class="validation-error"
        *ngIf="controls.email.invalid && controls.email.dirty"
      >
        Email is invalid.
      </div>
    </div>
    <div>
      <label for="password" class="col-form-label">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        formControlName="password"
        (input)="controls.confirmPassword.updateValueAndValidity()"
      />
      <div
        class="validation-error"
        *ngIf="controls.password.errors?.['required'] && controls.password.dirty"
      >
        Password is required!
      </div>
      <div
        class="validation-error"
        *ngIf="controls.password.errors?.['minlength']"
      >
        The password must be at least
        {{ controls.password.errors?.['minlength'].requiredLength}} characters
        long.
      </div>
    </div>
    <div>
      <label for="confirmPassword" class="col-form-label"
        >Confirm Password</label
      >
      <input
        type="password"
        id="confirmPassword"
        class="form-control"
        formControlName="confirmPassword"
      />
      <div
        class="validation-error"
        *ngIf="controls.confirmPassword.errors?.['confirmPassword'] && controls.confirmPassword.dirty"
      >
        {{ controls.confirmPassword.errors?.['confirmPassword'] }}
      </div>
    </div>
    <div formArrayName="positions">
      <h3>Positions</h3>
      <button
        class="btn btn-secondary my-4"
        type="button"
        (click)="addPosition()"
      >
        +
      </button>
      <input
        type="text"
        class="form-control"
        placeholder="Your position"
        *ngFor="let position of positions.controls; let i = index"
        [formControlName]="i"
      />
    </div>
    <button class="btn btn-primary my-4" [disabled]="registerForm.invalid">
      Register
    </button>
  </form>
</div>
