<div *ngIf="cart$ | async as cart" class="container py-4">
  <div class="cart-header">
    <h1>My Cart</h1>
    <h3>total: {{ cart.discountedTotal | currency : "EUR" }}</h3>
  </div>
  <div *ngIf="loading$ | async" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="m-auto row row-cols-auto g-3">
    <app-product-card
      class="col"
      *ngFor="let product of cart.products"
      [cartProduct]="product"
      [loading]="(productLoading$ | async) === product.id"
      (deleteProduct)="onDelete(cart.id, $event)"
    ></app-product-card>
  </div>
</div>
